body {
  background: #000;
  color: rgb(255, 89, 0);
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

pre {
  border: 2px solid rgb(255, 89, 0);
  padding: 10px;
  user-select: none;
  line-height: 1.2;
}

.button {
  cursor: pointer;
}

.highlight {
  background: rgb(255, 89, 0);
  color: #000;
}
